<a href="https://colab.research.google.com/github/moonx297/Python_data/blob/main/test01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def get_sum(start,end):
  sum = 0
  for i in range(start,end+1):
    sum += i
  return sum

value = get_sum(1, 10)
print(value)

55

In [ ]:
# 가변 인수 별 하나 *
def varfunc(*args):
  print(args)

print("하나의 값으로 호출")
varfunc(10)
print("여러개의 값으로 호출")
varfunc(10, 20, 30)
print("여러개의 값으로 호출")
varfunc(10, 20, 30,10000,24,15,12356,123151,1253,86574,345)

하나의 값으로 호출
(10,)
여러개의 값으로 호출
(10, 20, 30)
여러개의 값으로 호출
(10, 20, 30, 10000, 24, 15, 12356, 123151, 1253, 86574, 345)

In [ ]:
# 가변 키워드 별 두개 **

def myfunc(**kwargs):    #배열이 두개니까 ** 두개~
  result = ""
  for arg in kwargs.values():
    result += arg
  return result

print(myfunc(a="Hi, ", b="Mr.", c="Kim"))

Hi, Mr.Kim

In [ ]:
# 주급을 계산하는 프로그램

def weeklyPay(rate, hour):
  money = 0
  if(hour > 30):
    money = rate*30 + 1.5 * rate * (hour-30)
  else:
    money = rate*hour
  return money

rate = int(input("시급을 입력 : "))
hour = int(input("근무 시간을 입력 : "))
print("주급 : " + str(weeklyPay(rate, hour)))

시급을 입력 : 20000
근무 시간을 입력 : 5
주급 : 100000

In [ ]:
# 리턴값이 없는 함수
def print_birthday(name):
  print("생일축하합니다~")
  print("사랑하는", name, "의~")
  print("생일축하합니다~!!!")

  print_birthday("문희인")

In [ ]:
# 리턴값이 두개 이상 가능

def get_info():
  name = input("이름 : ")
  age = int(input("나이 : "))
  return name, age

st_name, st_age = get_info()
print("이름은", st_name, "이고 나이는", st_age, "살입니다.")

이름 : 문희인
나이 : 28
이름은 문희인 이고 나이는 28 살입니다.